jobs:
  - name: create-release
    script: /p/projects/eubucco/git-eubucco/database/preprocessing/5-release/run_create_release.py
    param_generator_file: /p/projects/eubucco/git-eubucco/database/preprocessing/5-release/params_generator_release.yml
    log_dir: /p/projects/eubucco/logs/v1_0-db/release
    resources:
      cpus: 1
      mem: 16000
      time: "01:00:00"

  - name: create-overview-file
    script: /p/projects/eubucco/git-eubucco/database/preprocessing/5-release/run_overview.py
    param_files: [/p/projects/eubucco/git-eubucco/database/preprocessing/5-release/params_overview.yml]
    log_dir: /p/projects/eubucco/logs/v1_0-db/release
    resources:
      cpus: 16
      time: "12:00:00"

  - name: create-eval-metrics-file
    script: /p/projects/eubucco/git-eubucco/database/preprocessing/5-release/run_eval_metrics.py
    param_files: [/p/projects/eubucco/git-eubucco/database/preprocessing/5-release/params_eval_metrics.yml]
    log_dir: /p/projects/eubucco/logs/v1_0-db/release
    resources:
      cpus: 8
      time: "12:00:00"

properties:
  conda_env: eubucco-features
  account: eubucco
  log_level: INFO
  exp_backoff_factor: 4
  max_retries: 1
  poll_interval: 30
  slack:
    channel: "#test-slurm-bot"
    token: <to-be-added>
